{#=====================================================
  Groups list page
  - List of groups passed in as 'groups' array
  - Form for adding a new group
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Family To-Do - All Groups & Add a New Group

{% endblock %}


{% block content %}

    <h1>Groups</h1>


    <article>
        <ul>
            {% for group in groups %}

                
                <li>
                    

                    {% if group.colour %}
                    <div class="group-card"
                        style="background-color:{{ group.colour or '#cce5ff' }};">
                    <strong class="group"><a href="/groups/{{ group.id }}/tasks">{{ group.name }}</a></strong>

                    {% if group.picture_type %}
                        <img src="/group/{{ group.id }}/image" alt="{{ group.name }}" width="80" height="80">
                    {% endif %}

                    {# Edit button #}
                    <button onclick="document.getElementById('edit-group-{{ group.id }}').showModal()">:</button>

                    {# Delete button #}
                    <strong><a href="/groups/{{ group.id }}/delete" onclick="return confirm('Delete this group?');">x</a></strong>
                    </div>
                    {% endif %}

                    

                    


                    {# Edit modal #}
                    <dialog id="edit-group-{{ group.id }}">
                        <article>
                            <h3>Edit Group "{{ group.name }}"</h3>

                            <form action="/groups/{{ group.id }}/edit" method="POST" enctype="multipart/form-data">

                                <label>
                                    Group Name:
                                    <input type="text" name="name" value="{{ group.name }}" required>
                                </label>

                                <label>
                                    Group Colour:

                                    <input type="color" name="colour" value="{{ group.colour }}" required>
                                </label>

                                <label>
                                    Group Picture:

                                    <input type="file" name="picture" accept="image/*">
                                </label>

                                <footer>
                                    <button type="submit">Save Changes</button>
                                    <button type="button" onclick="document.getElementById('edit-group-{{ group.id }}').close()">Cancel</button>
                                </footer>
                            </form>
                        </article>
                    </dialog>
                </li>

            {% else %}

                <p>No groups yet!</p>

            {% endfor %}
        </ul>
    </article>

     <a href="/groups/add" role="button">Go to add a new group...</a>

{% endblock %}

