{#=====================================================
  Groups list page
  - List of groups passed in as 'groups' array
  - Form for adding a new group
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Family To-Do - All Groups

{% endblock %}


{% block content %}

    <h1>Groups</h1>


    <article>
        <ul>
            {% for group in groups %}

                <li>
                    <a href="/group/{{ group.id }}/tasks">
                        {{ group.name }}
                    </a>
                    {% if group.picture %}
                        <img src="{{ group.picture }}" alt="{{ group.name }}" width="40">
                    {% endif %}
                </li>

            {% else %}

                <p>No groups yet!</p>

            {% endfor %}
        </ul>
    </article>


    <article>

        <h3>Add a New Group...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new thing"
                required
            >

            <input
                type="number"
                name="price"
                min="0"
                placeholder="Price in dollars"
                required
            >

            <button>Add the Thing</button>

        </form>

    </article>

{% endblock %}

