{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
 
=====================================================#}

{#--------This page ISN'T USED-------------------------------------------#} 

{% extends 'pages/base.jinja' %}


{% block title %}

    Family To-Do - All Groups

{% endblock %}


{% block content %}

    <h1>Groups</h1>


    <article>
        <ul>
            {% for group in groups %}

                <li>
                    <a href="/groups/{{ group.id }}/tasks">
                        {{ group.name }}
                    </a>
                    {% if group.picture %}
                        <img src="{{ group.picture }}" alt="{{ group.name }}" width="40">
                    {% endif %}
                </li>

            {% else %}

                <p>No groups yet!</p>

            {% endfor %}
        </ul>
    </article>

    <a href="/groups/add" role="button">Go to add a new group...</a>

{% endblock %}

{#--------------This page ISN'T USED-----------------------------------#} 