{#=====================================================
  Task page for group
  - Shows all tasks of each groups
  - Form to add a new task
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Family To-Do - Tasks in {{ group.name }}

{% endblock %}


{% block content %}

    <a href="/groups" role="button" >← Back to Groups</a>

    <h1>Tasks in "{{ group.name }}"</h1>


    <article>
        <ul>
            {% for task in tasks %}


                <li>

                    {% if task.colour %}
                    <div class="task-card"
                        style="background-color: {{ task.colour or '#afcfc0' }};">

                    <!-- complete or incomplete -->
                    <span class="complete_and_name">  
                    {% if task.complete %}
                        <a href="/incomplete/{{ task.id }}">🗹</a>
                    {% else %}
                        <a href="/complete/{{ task.id }}">☐</a>
                    {% endif %}
                        <strong>{{ task.name }}</strong>
                    </span>  
                    <span class="pics">
                    {% if task.picture_type %}
                        <img src="{{ url_for('show_task_image', id=task.id) }}" alt="{{ task.name }}" width="80" height="80">
                    {% endif %}
                    </span>
                    <span class="priority priority-{{ task.priority }}">
                    {{ task.priority }}
                    </span>


                    {# Edit button #}
                    <button onclick="document.getElementById('edit-task-{{ task.id }}').showModal()"
                        style="padding: 10px;">:</button>
                        
                    {# Add a link to delete & Delete button #}
                    <strong><a href="/tasks/{{ task.id }}/delete" onclick="return confirm('Delete the task?');">x</a></strong>


                    <span class="due_date">
                    {% if task.due_date %}
                      {% set due_date_str = task.due_date | replace('-', '/') %}
                      {% set today = utcnow().strftime('%Y/%m/%d') %}
                      {% if task.due_date < utcnow().strftime('%Y-%m-%d') %}
                        <p><strong style="color: red;">Due: {{ due_date_str }}</strong></p>
                      {% else %}
                        <p><strong style="color: #404040;">Due: {{ due_date_str }}</strong></p>
                      {% endif %}
                    {% else %}
                      <p>No due date</p>
                    {% endif %}
                    </span>
            
                    

                    <div id="info">
                    {% if task.description %}
                        {{ task.description }}
                    {% endif %}
                    </div>

                    
                </li>

            {% endif %}
        
            </div>


            {# Add a link for edit #}
            <a href="/tasks/{{ task.id }}/edit"></a>

            
            

           
                
            {# Edit modal #}
                <dialog id="edit-task-{{ task.id }}">

                    <article>
                        <h3>Edit Task "{{ task.name }}"</h3>

                        <form action="/tasks/{{ task.id }}/edit" method="POST" enctype="multipart/form-data">

                            <input type="hidden" name="group_id" value="{{ task.group_id }}">

                            <label>
                                Task Name:

                                <input type="text" name="name" value="{{ task.name }}" required>
                            </label>

                            <label>
                                Description:

                                <textarea name="description">{{ task.description }}</textarea>
                            </label>

                            <label>
                                Priority:

                                <select name="priority" required>

                                    {% for p in [1,2,3,4,5] %}
                                        <option value="{{ p }}" {% if task.priority == p %}selected{% endif %}>{{ p }}</option>
                                    {% endfor %}

                                </select>
                            </label>

                            <label>
                                Task Colour:

                                <input type="color" name="colour" value="{{ task.colour }}">
                            </label>

                            <label>
                                Due Date:
                                <input type="date" name="due_date" value="{{ task.due_date }}">
                            </label>

                            <label>
                                Picture:

                                <input type="file" name="picture" accept="image/*">
                            </label>

                            <footer>
                                <button type="submit">Save Changes</button>
                                <button type="button" onclick="document.getElementById('edit-task-{{ task.id }}').close()">Cancel</button>
                            </footer>
                        </form>
                    </article>
                </dialog>
            
            
            {% else %}
                <p>No tasks in this group.</p>
            {% endfor %}
        </ul>

    </article>

    <a href="/groups/{{ group.id }}/tasks/add" role="button" ><strong>+</strong></a>

{% endblock %}
